@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

@mixin flexbox($flexDirection){display:flex;flex-direction: $flexDirection;}
@mixin grid($template, $gap){display: grid;grid-template-columns: $template;gap: $gap;}
@mixin sizes($width, $height){width: $width; height: $height;}
@mixin font($font-family, $font-weight, $font-size, $line-height) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}
@mixin background-image($url, $repeat, $position, $size){background-image: $url;background-repeat: $repeat;background-position: $position;background-size: $size;}
@mixin button($border, $bg, $color){border: $border; background: $bg; color: $color;}

$fontLato: 'Lato', sans-serif;
$fontRaleway: 'Raleway', sans-serif;
$colorWhite: #FFFFFF;
$colorLightBlue: #42A9ED;
$colorBlue: #3E9CDC;
$colorDarkBlue: #286690;
$colorLightGrey:#BBBBBB;
$colorGrey: #3D4050;
$colorDarkGrey: #272733;
$colorBlack: #000000;

$widthContainer:1172px;
$countItemScheme: 5;
$widthItemScheme: (($widthContainer - 50px*($countItemScheme - 1) )/$countItemScheme) / $widthContainer * 100%;  // в зависимости от количества блоков вычисляется процент относительно контейнера
$footerSpacing: 40px;

$width_max:1172px+30; //добавляем padding 15 * 2
$width_l:991px;
$width_md:767px;
$width_sm:575px;
$width_min:319px;

.container{
    max-width: $width_max;
    margin: 0 auto; 
    width: 100%;
    padding: 0 15px;
}

body{
	font-family: $fontLato;
    scroll-behavior: smooth;
 }
 
.colorBlue{
    color: $colorLightBlue;
}

.header{
    position: fixed;
    z-index: 10;
    @include sizes(100%, 100px);
    background: rgba(16, 16, 29, 0.9);
    color: $colorWhite;
    .container{
        @include flexbox(row);
        justify-content: space-between;
    }
    &__logo{
        @include font($fontRaleway, 800, 28px, 33px);
        padding-top: 34px;
        text-transform: uppercase;
        color: $colorWhite;
        transition: 2s;
    }

    &__logo:hover{
        transform: scale(1.1);
    }

    &__menu{
        @include font($fontLato, 600, 13px, 16px);
        &-burger{
            display: none;
            .burger__toggle {
                opacity: 0;
                &:checked ~ .burger__btn > span {
                    transform: rotate(45deg);
                    &::before {
                        top: 0;
                    }
                    &::after {
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
                &:checked ~ .burger__box {
                    display: block;
                    right: 0;
                }
            }
            .burger__btn {
                display: flex;
                align-items: center;
                position: fixed;
                z-index: 1;
                top: 38px;
                right: 10%;
                @include sizes(26px, 26px);
                cursor: pointer;
            }
            
            .burger__btn > span,
            .burger__btn > span::before,
            .burger__btn > span::after {
                display: block;
                position: absolute;
                @include sizes(100%, 2px); 
                background-color: $colorWhite;
                transition-duration: .25s;
            }
            .burger__btn > span::before {
                content: '';
                top: -8px;
            }
            .burger__btn > span::after {
                content: '';
                top: 8px;
            }
            
            .burger__box {
                display: none;
                position: fixed;
                top: 100px;
                right: 0;
                min-width: 250px;
                padding: 20px 0;
                background: rgba(16, 16, 29, 0.9);       
            }
            .burger__item {
                display: block;
                padding: 12px 24px;   
                color: $colorWhite; 
                font-size: 20px;
                font-weight: 600;
                &:hover {
                    color: #43ABF0;
                }
            }
        }
    }
}
 
.menu{
    &__list{
        @include flexbox(row);   
    }
    &__item { 
        padding-left: 60px; 
        padding-top: 44px;   
    }
    &__item:first-child { 
        padding-left: 0px;   
    }
    &__link{
        @include font($fontLato, 600, 13px, 16px);
        text-transform: uppercase;
        color: $colorWhite;
        &_active, &:hover{
            color: #43ABF0;
        }
    }
}

.banner{
    width: 100%;
    @include background-image(url("../img/banner.png"), no-repeat, center, cover);

    &__title{
        width: (780px / $widthContainer) *100%;
        padding: 203px 0 88px;
        @include font($fontLato, 700, 49px, 58px);
        text-transform: uppercase;
        color: $colorBlack;
    }
    &__subtitle{
        @include font($fontLato, 700, 20px, 24px);
        padding-bottom: 5px;
    }
    ul{
        padding-bottom: 80px;
    }
    ul li{
        @include font($fontLato, 400, 20px, 24px);
        padding-top: 5px;
    }
    ul li:before {
        content: "-";
        padding: 0 8px;
    }
    &__button{
        @include sizes(183px, 43px);
        margin-bottom: 202px;
        border-radius: 4px;
        @include font($fontLato, 400, 13px, 16px);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
    }
    .button__order{
        margin-right: 30px;
        @include button(1px solid $colorWhite, $colorBlue, $colorWhite);
        &:hover{
            @include button(1px solid $colorBlue, $colorWhite, $colorBlue);
            box-shadow: 0 0 10px 4px $colorBlue;
        }
    }
    .button__more{
        @include button(1px solid #6F6D7B, $colorWhite, #2A2B30);
        &:hover{
            @include button(1px solid $colorWhite, #6F6D7B, $colorWhite);
            box-shadow: 0 0 10px 4px #6F6D7B;
        }
    }
    
}

.order{
    z-index: 10;
    min-height: 918px;
    @include background-image(url("../img/background_order.png"), no-repeat, center, cover);
    background-color: $colorDarkGrey;
    .container{
        @include flexbox(column);
        align-items: center;
    }
    &__title{
        margin-top: 120px;
        @include font($fontLato, 800, 36px, 43px);
        color: $colorWhite;
        text-transform: uppercase;
        span{
            color: $colorBlue;
        }
    }
    &__subtitle{
        @include flexbox(row);
        align-items: center;
        margin: 31px 0 80px;
        @include font($fontLato, 400, 18px, 22px);
        color: $colorLightGrey;
    }

    @for $i from 1 through $countItemScheme {
        .order__item {
            &:nth-child(#{$i}) {
                .order__item-circle {
                    animation-delay: $i * (10s / $countItemScheme);
                }
            }
        }
    }
      
    @keyframes pulse {
        0% {
            transform: scale(1);
        }        
        25% {
            transform: scale(1.2);
        }       
        50% {
            transform: scale(1);
        }
    } 
    
    &__scheme{
        @include flexbox(row);
        justify-content: space-between;
        width: 100%;
        padding: 0 15px;
        .order__item{
            @include flexbox(column);   
            align-items: center;  
            position: relative;
            width: $widthItemScheme;
            &-circle{
                position: relative; 
                z-index: 2;
                @include flexbox(row);
                align-items: center;
                justify-content: center;
                @include sizes(100px, 100px);
                border: 5px solid $colorDarkBlue;
                border-radius: 50%;
                background: $colorBlue;
                transition: 1s linear;
                animation: 10s ease 1s pulse infinite;
            }
            
            &-text{
                padding: 20px 0 87px;
                @include font($fontLato, 400, 16px, 19px);
                color: $colorWhite;
                text-align: center;
                word-wrap: break-word;
            }
            ul{
                @include flexbox(row);
                justify-content: space-between;
                position: absolute;
                width: 74%;  
                padding: 0 15px;
                top: 47px;
                left: 76%;
            }
            li{
                @include sizes(6px, 6px);
                border-radius: 50%;
                background-color: #C4C4C4;
            }
        }        
    }

    .user__info{
        @include grid(repeat(3, 1fr), 30px);
        width: 100%;
    }

    .user__type-system {
        position: relative;
        &[data-state='active'] {
        .type-system__title{
            border-radius: 3px 3px 0px 0px;
            @include button(none, rgba(61, 64, 80, 0.85), $colorWhite);
            &::after {
                background-image: url("../img/arrowUp.svg");
            }
        }
        
        .type-system__content {
            display: block;
        }
        
        label + input + label {
            min-height: 36px;
        }
        }
    }
    .type-system__title::after {
            content: "";
            position: absolute;
            top: 45%;
            right: 16px;
            width: 10px;
            height: 6px;
            background: url("../img/arrowDown.svg") no-repeat;
    }
    .type-system__content {
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 8;
        @include flexbox(column);
        @include sizes(100%, 180px);
        overflow-y: scroll;
        transition: all 0.3s ease-out;
        display: none;
        border-radius: 3px;
        border-top: none;
        scrollbar-width: thin;
        scrollbar-color: $colorBlue $colorGrey;
        @include button(1px solid $colorGrey, rgba(39, 39, 51, 0.99), $colorWhite);
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background: $colorBlue;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5%;
            background: $colorGrey;
        }
        input {
            display: none;
        }
        input, label{
            @include flexbox(row);
            align-items: center;
            width: 100%;
            max-height: 0;
            padding: 0 16px;
            @include font('Lato', 400, 18px, 34px);
            transition: all 0.2s ease-out;
            cursor: pointer;
            overflow: hidden;
            appearance: none;
            &:hover {    
                color: $colorLightBlue;
            }
        }
    }

    .type-system__title, .user__email, .user__name, .file__input-button{
        padding: 11px 10px;  
        border-radius: 3px;  
        @include font($fontLato, 400, 18px, 22px);
        @include button(1px solid $colorWhite, rgba(255, 255, 255, 0.85), $colorDarkGrey);
        cursor: pointer;    
        &:focus{
            background: rgba(61, 64, 80, 0.85);
            color: $colorWhite;
        }
        &:focus::placeholder{
            color: rgba(255, 255, 255, 0.8);
        }
    }

    .user__email::placeholder, .user__name::placeholder{
        color: $colorDarkGrey;
    }

    .file__input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        &-icon{
            height: 20px;
            margin-right: 4px;
        }
        &-text{
            @include font($fontLato, 600, 15px, 18px);
            text-transform: uppercase;
            color: $colorDarkGrey;
        }
        &-button{
            position: relative;
            width: 100%;
            padding-top: 12px;
            border: 2px solid $colorBlue;
            border-radius: 3px;
            text-align: center;
            background: $colorWhite;
            cursor: pointer;
        }
    }

    .user__range{
        grid-column: 1 / 3;
        @include flexbox(column);
        &-label{
            padding-bottom: 21px;
            @include flexbox(row);
            justify-content: space-between;
        }
        &-text{
            @include font($fontLato, 400, 18px, 22px);
            color: $colorWhite;
        } 
        &-percent{
            @include font($fontLato, 600, 18px, 22px);
            color: rgba(255, 255, 255, 0.85);
        } 
        &-input{
            background: rgba(255, 255, 255, 0.7);
            border: 1px solid $colorWhite;
            border-radius: 5px;
        }
        input[type=range]  {
            appearance: none;
            height: 6px;
            background: rgba(255, 255, 255, 0.7);
            border: 1px solid $colorWhite;   
            cursor: pointer;   
            &::-webkit-slider-thumb{
                -webkit-appearance: none;
                background: $colorLightBlue;
                border: 3px solid $colorDarkBlue;
                @include sizes(27px, 27px);
                border-radius: 50%;
                cursor: pointer;
                transition: .3s ease-in-out;
            }
            &::-moz-range-thumb {
                background: $colorLightBlue;
                border: 3px solid $colorDarkBlue;
                @include sizes(27px, 27px);
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    .user__button-send{
        grid-column-start: 2;
        height: 48px;
        padding: 14px 10px;
        margin: 25px 0 150px;
        border-radius: 4px;
        @include button(1px solid $colorWhite, $colorBlue, $colorWhite);
        @include font($fontLato, 600, 15px, 18px);
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        &:hover{
            @include button(1px solid $colorBlue, $colorWhite, $colorBlue);
            box-shadow: 0 0 10px 4px $colorBlue;
        }
    }
}

footer{
    min-height: 80px;
    background: $colorGrey;
    .footer{
        @include grid(repeat(3, auto), $footerSpacing);
        align-items: flex-end;
        padding: 33px 0;
        @include font($fontLato, 400, 13px, 16px);
        &__copyright{
            width: 305px;
            color: $colorWhite;
        }
        &__payment-methods{
            @include flexbox(row);           
            gap: 40px; 
            color: #C3C3C3;
        }
        &__social-links{
            @include flexbox(row);
            gap: 40px;        
        }

        .footer__payment-methods,
        .footer__social-links {
            position: relative;
            padding-left: $footerSpacing;
          }
        
        .footer__payment-methods::before,
        .footer__social-links::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;         
          display: block;
          @include sizes(1px, 18px);
          background: #C3C3C3;
        }

        .payment-methods__item, .social-links__item{
            @include flexbox(row);
            align-items: flex-end;
            img{
                @include sizes(20px, 20px);
                margin-right: 10px;
            }
        }

        .social-links__item{
            a{
                @include font($fontLato, 400, 13px, 16px);
                color: $colorWhite;
            }
            img{
                height: 13px;
            }
        }
    }
}

@media (max-width:$width_max){
    .container{
    max-width:970px;
    }
    footer {
        .footer{
            gap: 20px;
            align-items: stretch;
            &__payment-methods, &__social-links {
                padding-left: 20px !important;
                gap: 20px;
            }
            .payment-methods__item, .social-links__item{
                align-items: stretch;
            }
        }
    }
}

@media (max-width: $width_l){
    .container{
        max-width:750px;
    }
    .menu__item { 
        padding-left: 30px; 
    }
    .banner{
        &__title{
            padding: 160px 0 60px;
            font-size: 30px;
            line-height: 50px;
        }
        &__subtitle{
            font-size: 19px;
        }
        ul li{
            font-size: 17px;
        }
        &__button{
            margin-bottom: 120px;
        }
    }

    .order{
        &__title{
            margin-top: 60px;
            font-size: 30px;
        }

        &__scheme{
            @include flexbox(column);
            align-items: center;
            width: 100%;
            padding: 0 15px;
           .order__item{
                @include flexbox(row);  
                width: 290px;
                margin-bottom: 35px;
                &-circle{
                    position: relative; 
                    @include flexbox(row); 
                    @include sizes(80px, 80px);
                }
                &-text{
                    padding: 0;
                    padding-left: 15px;
                }
               ul{
                    @include flexbox(column);
                    justify-content: space-between;
                    position: absolute;
                    @include sizes(6px, 46px);
                    padding: 0;
                    top: 85px;
                    left: 37px;
                }
            }        
        }
        .type-system__title, .user__email, .user__name, .user__range-percent, .user__range-text, .file__input-button{
            font-size: 17px;
        }
        .user__button-send{
            margin-bottom: 50px;
        }
    }

    footer{
        .footer {
            grid-template-columns: repeat(2, auto);
            &__copyright{
                grid-column: 1 /3;
                order: 1;
                margin: 0 auto;
            }
            &__payment-methods::before{
                content: '';
                width: 0px !important;
            }
        }
    }
}
   
@media (max-width:$width_md){
    .container{
        max-width:580px;
    }
    .header__menu{
        display: none;
        &-burger{
            display: block;
        }
    }
    .banner__title{
        width: 100%;
    }
    .order{
        &__subtitle{
            font-size: 17px;
        }
        .user__info{
            grid-template-columns: repeat(2, 1fr);
        }
        .user__type-system, .user__email{
            order: 0;
        }
        .user__name, .file__input-button{
            order: 1;
        }
        .user__range{
            order: 2;
        }
        .user__button-send{
            order: 3;
            grid-column: 1 / 3;
            margin: 25px auto 100px;
            padding: 0 50px;
        }
    }
    footer{
        .footer{
            &__payment-methods, &__social-links{
                flex-direction: column;
                gap: 15px;
            }
            &__social-links::before{
                height: 85px !important;
            }
        }
    }

}

@media (max-width:$width_sm){
    .container{
        max-width:340px;
    }
    .header{
        height: 60px;
        .menu{
            display: none;
        }
        &__logo{
            font-size: 23px;
            padding-top: 14px;
        }
        .burger{
            &__btn{
                top: 18px;
            }
            &__box {
                top: 60px;
                width: 245px;
                padding: 10px 0;
            }
            &__item {
                padding: 6px 24px;
                font-weight: 400;
            }
        }
    }
    .banner{
        &__title {
            width: 100%;
            font-size: 22px;
            line-height: 35px;
            padding: 100px 0 40px 0;
        }
        &__subtitle{
            font-size: 19px;
        }
        ul {
            padding-bottom: 60px;
            li{
                font-size: 14px;
            }
        }
        &__button{
            @include sizes(135px, 35px);
            margin-bottom: 70px;
        }
        .button__order {
            margin-right: 15px;
        }
    }
    .order{
        &__title{    
            margin-top: 50px;
            font-size: 22px;
        }
        &__subtitle{
            font-size: 15px;
            text-align: center;
            margin-bottom: 50px;
        }
        .user__info{
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        .user__range, .user__button-send  {
            grid-column-end: 2;
        }
        .type-system__title, .user__email, .user__name, .user__range-percent, .user__range-text, .file__input-button, .user__button-send{
            font-size: 13px;
            line-height: 16px;
        }
        .type-system{
            &__content{
                height: 140px;
                top: 38px;
                label{
                    font-size: 14px;
                }
            }
        }
        .file__input-button {
            padding-top: 8px;
        }
        .file__input-text{
            font-size: 13px;
            line-height: 20px;
        }
    }
    footer{
        .footer{
            font-size: 11px;
            &__copyright{
                width: auto;
            }
            .social-links__item a{
                font-size: 11px;
            }
        }
    }
}

@media (max-width:$width_min){
    .container{
        max-width:none;
    }
}